<?xml version='1.0'?>
<config>
	<default>
		<payment>
			<yandex_checkout>
				<active>0</active>
				<model>LesMills_YandexCheckout_Method</model>
			</yandex_checkout>
		</payment>
	</default>
	<frontend>
        <layout>
            <updates>
                <yandex_checkout>
                    <file>yandex_checkout.xml</file>
                </yandex_checkout>
            </updates>
        </layout>			
		<routers>
			<yandex_checkout>
				<args>
					<frontName>yandex-checkout</frontName>
					<module>LesMills_YandexCheckout</module>
				</args>
				<use>standard</use>
			</yandex_checkout>
		</routers>
	</frontend>
	<global>
<!-- 2019-11-05 `<events>` works only inside `<global>` -->
		<events>
			<controller_front_init_before>
				<observers>
					<LesMills_YandexCheckout>
						<class>LesMills_YandexCheckout_Observer</class>
						<method>controller_front_init_before</method>
					</LesMills_YandexCheckout>
				</observers>
			</controller_front_init_before>
		</events>
	</global>
	<modules>
		<LesMills_YandexCheckout>
			<author>Dmitry Fedyuk</author>
			<version>0.0.4</version>
		</LesMills_YandexCheckout>
	</modules>
</config>