<?xml version='1.0'?>
<config>
	<default>
		<payment>
			<df_yandex_checkout>
				<active>0</active>
				<currency>RUB</currency>
				<model>Df\YandexCheckout\Method</model>
			</df_yandex_checkout>
		</payment>
	</default>
	<frontend>
        <layout>
            <updates>
                <df_yandex_checkout>
                    <file>df/yandex_checkout.xml</file>
                </df_yandex_checkout>
            </updates>
        </layout>			
		<routers>
			<df_yandex_checkout>
				<args>
					<frontName>df-yandex-checkout</frontName>
					<module>Df_YandexCheckout</module>
				</args>
				<use>standard</use>
			</df_yandex_checkout>
		</routers>
	</frontend>
	<modules>
		<Df_YandexCheckout>
			<author>Dmitry Fedyuk</author>
			<version>0.0.4</version>
		</Df_YandexCheckout>
	</modules>
</config>