<?xml version='1.0'?>
<config>
<!-- 2019-11-05 `<events>` works only inside `<global>` -->
	<global>
		<events>
			<controller_action_predispatch_checkout>
				<observers>
					<Df_Core>
						<class>Df\Payment\Observer</class>
						<method>controller_action_predispatch_checkout</method>
					</Df_Core>
				</observers>
			</controller_action_predispatch_checkout>
		</events>
	</global>
	<modules>
		<Df_Payment>
			<author>Dmitry Fedyuk</author>
			<version>0.0.1</version>
		</Df_Payment>
	</modules>
</config>